* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

header.scrolled {
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 3px 50px;
}

header.scrolled .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s ease;
}

header {
    width: 100%;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #1a3e2d;
    font-size: 1.2rem;
    margin-left: 30px;
}

.logo img {
    height: 106px;
    width: 190px;
    margin-right: 10px;
}

.logo small {
    font-size: 0.6rem;
    color: #4b7f4a;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #30573b;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in;

}

.nav-links li a.active {
    background-color: #30573b;
    /* Dark green */
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 600;
}

.nav-links li a:hover {
    background-color: #30573b;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;

}

.nav-links li a.active {
    background-color: #30573b;
    color: white;
    font-weight: 600;
}

.hero {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    object-position: center;
    display: block;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #333;
    /* underline effect jaisa */
    display: inline-block;
    padding-bottom: 5px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    margin: 90px auto;
}

.contact-image {
    flex: 1;
    display: flex;
    /* Image ko full height me stretch karne ke liye */
}

.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-form h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2F4F2F;
}

.form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}

.submit-btn {
    background-color: #2F4F2F;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #1e351e;
}

.map-section {
   object-fit: cover;
    margin: 50px auto;
    padding: 0 20px;
}

.map-container {
 overflow: hidden;
}

iframe {
    width: 100%;
    height: 200px;
    border: 0;
    display: block;
}

footer {
  background: #e6f0dc;
  /* light greenish */
  padding: 40px 80px 0;
  position: relative;
  background-size: 100% auto;
  border-bottom: 1px solid #ccc;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left {
  flex: 0 500px;
  padding-left: 40px;
  gap: 60px;
}

.footer-left p {
  margin: 5px 0;
  font-size: 20px;
  color: #333;
}

.footer-left .icons {
  margin-top: 10px;
}

.footer-left .icons a {
  text-decoration: none;
  margin-right: 12px;
  font-size: 30px;
  color: #3E603C;
  transition: 0.3s;
}

.footer-left .icons a:hover {
  color: rgb(0, 5, 0);
}

.footer-links {
  display: flex;
  gap: 90px;
  /* margin-left: -100px; */
  flex: 1;
}



.footer-links h4 {
  margin-bottom: 12px;
  font-weight: 600;
  color: #333;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: green;
}

.footer-right img {
  width: 380px;
  bottom: -100px;
  position: absolute;
  right: 0;
}



.footer-right {
  position: relative;
  /* parent ko relative karna zaroori hai */
  min-height: 300px;
}

footer {
  background: #e6f0dc url("img/footer.png") no-repeat center bottom;
  background-size: 100% auto;
  /* poori width me grass stretch ho jayegi */
  padding: 40px 80px 120px;
  /* niche extra space taaki grass dikh sake */
  position: relative;
}